<style>
.wrapper {
    background: #333;
    border-radius: 8px;
    padding: 16px;
    margin: 32px;
}

.box {
    background: #333;
    color: #fff;
    padding: 16px;
    margin: 10px;
    left: 40px;
}
</style>

<div class="wrapper">
    <h2> Static Posisition </h2>
    <div class="box">Box 1</div>
    <div class="box">Box 2</div>
    <div class="box">Box 3</div>
    <div class="box">Box 4</div>
</div>