#wrap {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    background-color: white;
}

#header {
    background-image: url(Lance.jpeg);
    border-bottom-right-radius: 50px;
    width: 730px;
    height: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    float: right;
}

#judul {
    font-size: 50px;
    text-align: right;
    padding: 200px 40px 0 0;
}

#judul a {
    color: white;
    text-decoration: none;
}

#judul a:hover {
    color: grey;
}

.desc {
    font-size: 30px;
    color: white;
    text-align: right;
    padding: 0 40px 0 0;
}
#menu ul ul li a:hover {
    background: blue;
    color: white;
}

#menu ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

#kiri {
    border-top-left-radius: 50px;
    background-color: white;
    width: 250px;
    height: auto;
    margin: 0 0 20px;
    float: left;
    list-style: none;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
}

#kiri ul {
    margin: 0 0 20px 20px;
    padding: 0;
    list-style: none;
    width: 200px;
}

#kiri li {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#kiri h2 {
    margin: 0px 0 0px 0;
    padding: 5px 12px;
    color: white;
    font-size: 20px;
    background: darkblue;
}
#kiri a {
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted blue;
}

#kiri a:hover {
    background: blue;
    color: white;
}
