.wrapper {
    background: #eeeeee;
    padding: 20px;
}

.box {
    background: #dedede;
    padding: 10px;
}

.header-row {
    background: #3a3a3a;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

.content-box {
    background: #d3d3d3;
    padding: 10px;
    margin-bottom: 15px;
}

.area {
    height: 200px;
    background: #efefef;
    border: none;
}

.footer {
    background: #3a3a3a;
    padding: 10px;
    font-weight: bold;
}