.container-header {
    margin: 10px 15px;
    padding: 5px 0;
    background: cyan;
    border-radius: 15px;
}

.title-header {
    color: blue;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 2px 2px #555;
}

.container-main {
    margin: 10px 15px;
    padding: 10px;
    background: #ecfa91;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;
    border-radius: 15px;
}

.container-nav {
    margin: 10px;
    padding: 0 10px;
    background: #90e07e;
    grid-column: 1 / span 3;
}

.nav-list {
    list-style-type: none;
    padding: 10px;
}

.nav-item {
    margin: 10px 0;
    background: green;
    padding: 10px;
}

.container-content {
    margin: 10px;
    padding: 10px;
    background: #90e07e;
    grid-column: 4 / span 9;
}

.content-image {
    display: block;
    margin: 0 auto;
    width: 30%;
}

.content-paragraph {
    color: #0b872c;
}

.container-footer {
    margin: 10px 15px;
    padding: 5px 0;
    background: #e3b059;
    border-radius: 15px;
}

.title-footer {
    color: #b03f25;
    text-align: center;
    font-family: monospace;
}